<div class="container left">
<div class="panel panel-primary center-block" style="width: 75%;">
  <div class="panel-heading text-center">Recent Updates</div>
  <div class="panel-body text-left">
    <li>
      ROSCon China 2024 will be held in Shenzhen in November 2024!
    </li>
  </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
          $("#archive").load("https://roscon.ros.org/archive.html");
      });
  </script>

<!-- <div id="archive">
  <p>Attempting to load ROSCon Archive Listings.</p>
</div> -->

<h2 id="roscon-2023-is-a-wrap">ROSCon China 2024 is now open for registration!</h2>

<!-- <center>
<img src="https://roscon.ros.org/2024/img/ROSCon2024.png" style="width:70%" a="asfd" />
</center> -->

<h3 id="We look forward to seeing you in Shenzhen, China on November 2nd-3rd, 2024!">We look forward to seeing you in Shenzhen, China on November 2nd-3rd, 2024!"</h3>
<hr />